<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                      <div class="card card-register">
                          <h3 class="title">Code</h3>
                          <form class="register-form">
                              <label>Code</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-email-85"></i>
                                  </span>
                                </div>

                                  <input type="text" class="form-control" placeholder="Code" (focus)="focus=true" (blur)="focus=false" [(ngModel)]="code">
                              </div>
                              <div class="forgot">
                                <a class="btn btn-link btn-danger" (click)="sendEmail()">Resend Email</a>
                            </div>
                              <button class="btn btn-danger btn-block btn-round" (click)="submit()">Submit</button>
                          </form>
                      </div>
                    </div>
                </div>
                <div class="footer register-footer text-center">
                    <h6>&copy;made with <i class="fa fa-heart heart"></i> by Creative Tim</h6>
                </div>
            </div>
    </div>
</div>
